{% extends "food_app/site_base.html" %}


{% block main_body %}
<h1>Strategies to Reduce Food Waste</h1>

<table class="strategies-container">
  <tr>
    <td id="strategy1">
      <h2>Smart Shopping</h2>
      <ul>
        <li><p>Make a shopping list and only buy the food you need.</p></li>
        <li><p>Check the expiration date carefully while shopping and choose the food that expires the soonest.</p></li>
        <li><p>Buy fresh produce from local farmers' markets whenever possible to reduce food waste during transportation.</p></li>
        <li><p>Choose misshapen or "ugly" fruits and vegetables that are just as nutritious as their "perfect" counterparts.</p></li>
        <li><p>Buy in bulk and store food properly to reduce packaging waste.</p></li>
      </ul>
    </td>

    <td id="strategy2">
      <h2>Proper Refrigeration</h2>
      <ul>
        <li><p>Store food at the correct temperature in the refrigerator and freezer to prevent spoilage.</p></li>
        <li><p>Label and date leftovers and place them in the front of the refrigerator to remind yourself to eat them before they expire.</p></li>
        <li><p>Use clear containers to store leftovers and keep them organized.</p></li>
        <li><p>Store fruits and vegetables separately to prevent them from releasing gases that can cause spoilage.</p></li>
        <li><p>Keep your refrigerator clean and free of spoiled food to prevent contamination.</p></li>
      </ul>
    </td>

    <td id="strategy3">
      <h2>Utilizing Leftovers</h2>
      <ul>
        <li><p>Create new meals from leftovers, such as using leftover rice to make fried rice or using leftover vegetables to make soup.</p></li>
        <li><p>Freeze leftovers for future use, such as making a soup or stew.</p></li>
        <li><p>Use leftover bread to make croutons or breadcrumbs.</p></li>
        <li><p>Make a meal plan to use up leftovers before they expire.</p></li>
        <li><p>Compost any food scraps that cannot be consumed or used.</p></li>
      </ul>
    </td>
  </tr>
</table>

{% endblock %}
